.footer {
    background: linear-gradient(rgb(0, 92, 163), rgb(0, 56, 120));;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 1px;
    font-family: 'Poppins', sans-serif;
}

.footer p {
    color: #fff;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, 
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    margin-bottom: 20px;
}


.footer-col-2 img {
    width: 80%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 50%;
    cursor: pointer;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}