.step3-builder {
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 300px;
        max-height: 40px;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .ant-input:placeholder-shown {
        border-radius: 6px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 6px;
    }

    .ant-picker-large {
        border-radius: 6px;
    }
}